language: node_js
node_js:
- '4'
- stable

notifications:
  email: false
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/54f8a1e753f859f5ca1a
    on_start: never
    on_failure: change

deploy:
  provider: npm
  email: hello@trailsjs.io
  api_key:
    secure: KXmxYM3PrjuAgd2ZjaTYn1/JjFtDG0lt7PH3yVvWtForOtRWKkyC2qlf8yJvZWlnfXnl6gfi0lcG++jC0xRfROgUUHtiNdRRgZbmvcj3b8ss/m1LMWONXFMnYI3cJ1LOsCdtuLm89EPUb6DDGhpMcnDiCWklECh2IOmUu/vUga9f5bUk6KBnn+trkMx0vXzf89drAFFQx8PAMLdXECfmjc3dQHrJiYxETx5R2TqD9Oc+aYDmpAz3cQXxKDtX2irbjPoGqewIMoi+ZVpRnXqYkEYneEDKHobHedPvqyKHyuHC+LjT6Jjhs/bhFJ3NXoA8RD7FDPuqMUIR6Gs4lBf3J+DTS2MszZ8K5AeheGzzxxDVJzqZiRqMtZjCLaUIXNs4UMLK8xb9/n1MxWjnIYf/Qs7INmBLwWHENTX7E5hk34nGe+39gQq621Tx8SPBEp4surwRYJvogsjua/0PmUuL06DWSZHJogC8x0ypwo5cV7uDMPqet7wXQhgMBLWwZVaFhyBCGKdMEfNLGvcUUY/kpAp6t3RfLUhQ8ZEZOPR4WiIu2sf6Zbxrt5/iu7XaTcDX8Ds+UHeqZ5AKli0gdvdpSkPSSmFoRs3QBUfnB4wzCTn9JNeNOeJTDbenngSoCvJ7n/6v2TWXgMgW+0/owHXMGvx+3IxzbWZAMEirG7Tr/M0=
  on:
    tags: true
    repo: trailsjs/smokesignals
    node: stable
